// colors 
$color-primary: #2266DD;
$color-primary-light: #337DFF;
$color-primary-dark: #1457CC;

$color-secondary: #C3CBD9;
$color-secondary-light:#EFF4F9;
$color-secondary-dark:#9CA9BF;

$color-tird: #47505F;
$color-tird-light:#596272;
$color-tird-dark:#2D3440;

$color-for: #EE2211;
$color-for-light: #FF3726;
$color-for-dark: #D91504;
$white: #fff;

// fonts
$font-title: 'Alice', serif;
$font-text: 'Nunito', sans-serif;

// font-size
$big-font-size: 4.5em;
$normal-font-size: 1.5em;
$small-font-size: 1.125em;
$smaller-font-size: 0.875em;

