*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 10px;
}

.superinfo {
  background: #2266DD;
  padding: 0.375rem 0;
}
.superinfo p {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  color: #fff;
}

.header {
  padding: 0.6875rem 0;
  background: #2D3440;
}
.header .header__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header .header__nav ul {
  display: flex;
}
.header .header__nav ul li a {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  color: #fff;
}
.header .header__circle::after {
  display: inline-block;
  content: "";
  width: 8.5px;
  height: 8.5px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 15px;
}
.header .header__red {
  border-bottom: 2px solid #EE2211;
}

.intro {
  padding-top: 12.5rem;
  padding-bottom: 12.5rem;
  background: url("../../img/bg-intro.jpg") no-repeat center;
  background-size: cover;
}
.intro .intro__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 150px;
  gap: 15px;
}
@media screen and (max-width: 600px) {
  .intro .intro__flex {
    justify-content: center;
  }
}
.intro .intro__flex h1 {
  font-family: "Alice", serif;
  font-size: 4.5em;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .intro .intro__flex h1 {
    font-size: 2.8125rem;
  }
}
.intro .intro__flex .intro__form {
  display: flex;
}
.intro .intro__flex .intro__form input {
  padding: 0.3125rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  color: #C3CBD9;
  border-radius: 5px 0px 0px 5px;
  border: none;
  outline: none;
}
@media screen and (max-width: 600px) {
  .intro .intro__flex .intro__form input {
    font-size: 0.875em;
  }
}
.intro .intro__flex .intro__form button {
  padding: 0.8125rem 2.375rem 0.8125rem 0.8125rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  color: #fff;
  background-color: #EE2211;
  border-radius: 0px 5px 5px 0px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .intro .intro__flex .intro__form button {
    font-size: 0.75rem;
    padding: 0.8125rem 0.8125rem 0.8125rem 0.8125rem;
  }
}
.intro .intro__flex .intro__form::after {
  position: relative;
  top: 18px;
  right: 23px;
  display: block;
  content: "";
  background: url(../../img/icones/seta.svg) no-repeat;
  width: 16px;
  height: 16px;
}
@media screen and (max-width: 600px) {
  .intro .intro__flex .intro__form::after {
    display: none;
  }
}

.beach {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.9375rem;
  margin-top: 4.25rem;
  margin-bottom: 3.75rem;
}
@media screen and (min-width: 1200px) {
  .beach {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}

.beach__map {
  flex: 1;
  order: 2;
}
.beach__map .beach__map__info {
  margin-top: 1.875rem;
}
.beach__map .beach__map__info h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  color: #2D3440;
}
.beach__map .beach__map__info h3::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #EE2211;
  border-radius: 50%;
  margin-right: 5px;
}
.beach__map .beach__map__info ul {
  margin-top: 15px;
}
.beach__map .beach__map__info ul li {
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #2D3440;
  margin-bottom: 5px;
}
.beach__map .beach__map__info ul li::before {
  display: inline-block;
  content: "";
  width: 10px;
  height: 2px;
  background: #2266DD;
  margin: 0px 3px 5px 0px;
}
.beach__map .beach__map__info ul li span {
  color: #C3CBD9;
  font-weight: normal;
}
@media screen and (max-width: 600px) {
  .beach__map .beach__map__info ul li {
    font-size: 0.875em;
  }
}

.beach__info {
  flex: 1;
  max-width: 100%;
}
@media screen and (min-width: 1200px) {
  .beach__info {
    max-width: 470px;
  }
}
.beach__info h1 {
  max-width: 100%;
  text-align: center;
  font-family: "Alice", serif;
  font-size: 4.5em;
  color: #2D3440;
  margin-bottom: 60px;
}
.beach__info h1 span {
  color: #2266DD;
}
@media screen and (min-width: 1200px) {
  .beach__info h1 {
    max-width: 460px;
    text-align: left;
  }
}
@media screen and (max-width: 600px) {
  .beach__info h1 {
    font-size: 2.5rem;
  }
}
.beach__info ul li {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.875rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.5em;
  color: #596272;
  margin-bottom: 30px;
}
.beach__info ul li::before {
  content: "";
  width: 100%;
  height: 2px;
  background: #EFF4F9;
}
@media screen and (max-width: 600px) {
  .beach__info ul li {
    font-size: 1.125em;
  }
}
.beach__info .beach__info__p {
  margin-top: 1.875rem;
}
.beach__info .beach__info__p p {
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #2D3440;
  line-height: 140.62%;
  margin-bottom: 1.875rem;
}
.beach__info .beach__info__p::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #EFF4F9;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .beach__info .beach__info__p {
    font-size: 0.875em;
  }
}

.aulas {
  background: #EFF4F9;
  padding-bottom: 5rem;
}
.aulas .aulas__title {
  text-align: center;
  position: relative;
  top: -27px;
}
.aulas .aulas__title h1 {
  font-family: "Alice", serif;
  font-size: 4.5em;
  line-height: 140.6%;
  color: #2D3440;
}
.aulas .aulas__title img {
  margin: 0 auto;
}
.aulas .aulas__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.875rem;
}

.aulas__card {
  flex: 1 1 auto;
  max-width: 370px;
  background-color: #fff;
  padding: 1.875rem 4.375rem;
  border-radius: 0.3125rem;
  box-shadow: 0px 4px 4px rgba(195, 203, 217, 0.4), 0px 10px 10px rgba(195, 203, 217, 0.4);
  position: relative;
}
.aulas__card .aulas__card__img {
  position: absolute;
  top: -20px;
  left: 170px;
}
.aulas__card .aulas__card__title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #2D3440;
  text-align: center;
}
.aulas__card .aulas__card__title::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #EFF4F9;
  margin-top: 30px;
}
.aulas__card .aulas__card__list {
  padding: 1.25rem 0rem 1.25rem 1.25rem;
}
.aulas__card .aulas__card__list li {
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-size: 0.875em;
  color: #2D3440;
  margin-bottom: 0.9375rem;
}
.aulas__card .aulas__card__list li::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #EE2211;
  border-radius: 50%;
  margin-right: 5px;
}
.aulas__card .aulas__card__price {
  display: block;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  color: #2266DD;
  margin-bottom: 1.875rem;
}
.aulas__card .aulas__card__price::before {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #EFF4F9;
  margin-bottom: 15px;
}
.aulas__card .aulas__card__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  color: #fff;
  background: #2D3440;
  border-radius: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
}
.aulas__card .aulas__card__button::after {
  content: "";
  display: inline-block;
  background: url(../../img/icones/seta.svg) no-repeat center;
  width: 15px;
  height: 15px;
}

.aulas__info {
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #2D3440;
  margin-top: 4.375rem;
  text-align: center;
}
.aulas__info span {
  color: #EE2211;
  font-weight: bold;
}
.aulas__info a {
  color: #2D3440;
  border-bottom: 2px solid #EE2211;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background: url("../../img/foto-quote.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 600px) {
  .quote {
    height: 30rem;
  }
}
.quote p {
  max-width: 45.625rem;
  font-family: "Alice", serif;
  font-size: 3.75rem;
  margin-bottom: 0.9375rem;
}
@media screen and (min-width: 1200px) {
  .quote p {
    font-size: 4.5em;
  }
}
@media screen and (max-width: 600px) {
  .quote p {
    font-size: 1.875rem;
  }
}
.quote cite {
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  margin-top: 1.875rem;
}

.contato {
  margin-top: 3.75rem;
}
.contato h1 {
  font-family: "Alice", serif;
  font-size: 4.5em;
  color: #2D3440;
  text-align: center;
  margin-bottom: 1.875rem;
}
.contato .contato__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
@media screen and (min-width: 1200px) {
  .contato .contato__flex {
    gap: 100px;
  }
}

.contato__flex__form {
  flex: 2 1 400px;
}
@media screen and (min-width: 1200px) {
  .contato__flex__form {
    flex: 1 1 150px;
    border-right: 2px solid #EFF4F9;
  }
}
.contato__flex__form label {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #47505F;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}
.contato__flex__form input {
  width: 100%;
  max-width: 29.375rem;
  padding: 0.9375rem;
  margin-bottom: 0.9375rem;
  background: #EFF4F9;
  border: none;
  border-radius: 0.3125rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #9CA9BF;
  font-weight: bold;
  outline: none;
}
.contato__flex__form textarea {
  width: 100%;
  max-width: 29.375rem;
  height: 11.25rem;
  padding: 0.625rem;
  resize: none;
  background: #EFF4F9;
  border: none;
  border-radius: 0.3125rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #9CA9BF;
  font-weight: bold;
  outline: none;
  margin-bottom: 1.875rem;
}
.contato__flex__form button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  color: #fff;
  background: #2D3440;
  border-radius: 0.3125rem;
  padding: 0.75rem 0.9375rem;
  cursor: pointer;
  border: none;
}
.contato__flex__form button::after {
  content: "";
  display: inline-block;
  background: url(../../img/icones/seta.svg) no-repeat center;
  width: 15px;
  height: 15px;
  margin-left: 0.75rem;
}

.contato__flex__info {
  flex: 1 1 200px;
  max-width: 300px;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .contato__flex__info {
    flex: 1;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .contato__flex__info::after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    display: block;
    background: url(../../img/icones/bg-icones.svg) no-repeat center;
    width: 200px;
    height: 250px;
  }
}
.contato__flex__info div:nth-child(-n+2)::after {
  display: block;
  content: "";
  width: 270px;
  height: 2px;
  margin: 10px 0;
  background: #EFF4F9;
}
.contato__flex__info dt {
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #47505F;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}
.contato__flex__info dd {
  font-family: "Nunito", sans-serif;
  font-size: 0.875em;
  color: #2D3440;
  margin-bottom: 0.3125rem;
}
.contato__flex__info a {
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  color: #2D3440;
  font-weight: bold;
}
.contato__flex__info a::after {
  content: "";
  background: url(../../img/icones/seta-red.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-left: 15px;
}
.contato__flex__info .contato__flex__info__dthorario::before {
  position: relative;
  top: 16px;
  left: -15px;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #16C40B;
  border-radius: 50%;
}

.footer {
  margin-top: 3.75rem;
  padding: 2.5rem;
  background: #2266DD;
}
.footer .footer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .footer .footer__info {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */