.aulas {
  background: $color-secondary-light;
  padding-bottom: rem(80);
  .aulas__title{
    text-align: center;
    position: relative;
    top: -27px;
        h1{
        font-family: $font-title;
        font-size: $big-font-size;
        line-height: 140.6%;
        color: $color-tird-dark;
      }
      img{
        margin: 0 auto;
      }
  }
  .aulas__flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: rem(30);
    
  }
}

.aulas__card{
  flex: 1 1 auto;
  max-width: 370px;
  background-color: $white;
  padding: rem(30) rem(70);
  border-radius: rem(5);
  box-shadow: 0px 4px 4px rgba(195, 203, 217, 0.4), 0px 10px 10px rgba(195, 203, 217, 0.4);
  position: relative;

    .aulas__card__img{
      position: absolute;
      top: -20px;
      left: 170px;
    }
    .aulas__card__title{
      @include nunito-bold($normal-font-size, $color-tird-dark);
      text-align: center;
      &::after{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background: $color-secondary-light;
        margin-top: 30px;
      }
    }
    .aulas__card__list{
      padding: rem(20) rem(0) rem(20) rem(20);
      li {
        margin: 0 auto;
        font-family: $font-text;
        font-size: $smaller-font-size;
        color: $color-tird-dark;
        margin-bottom: rem(15);
        &::before{
          display: inline-block;
          content: "";
          width: 8px;
          height: 8px;
          border: 2px solid #EE2211;
          border-radius: 50%;
          margin-right: 5px;
        }
      }
    }
    .aulas__card__price{
      display: block;
      @include nunito-bold($smaller-font-size, $color-primary);
      margin-bottom: rem(30);
      &::before{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background: $color-secondary-light;
        margin-bottom: 15px;
      }
    }
    .aulas__card__button{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      @include nunito-bold($small-font-size, $white);
      background: $color-tird-dark;
      border-radius: rem(5);
      padding: rem(10) rem(15);
      cursor: pointer;
      &::after{
        content: '';
        display: inline-block;
        background: url(../../img/icones/seta.svg) no-repeat center;
        width: 15px;
        height: 15px;
      }
      
    }
}

.aulas__info{
  font-family: $font-text;
  font-size: $small-font-size;
  color: $color-tird-dark;
  margin-top: rem(70);
  text-align: center;

    span {
      color: $color-for;
      font-weight: bold;
   }
   a {
    color: $color-tird-dark;
    border-bottom: 2px solid $color-for;
   }

  
}